body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
}

header {
    position: fixed;
    background: #232323;
    padding: 20px;
    width: 100%;
    height: 30px;
}

.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #990000;
}

.sidebar {
    background: #131313;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #c2970b;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #d3a50e;
}

#check:checked ~ .sidebar {
    left: -190px;
}

#check:checked ~ .sidebar a span {
    display: none;
}

#check:checked ~ .sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content {
    margin-left: 250px;
    background: #3f3f3f;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#check:checked ~ .content {
    margin-left: 60px;
}

#check {
    display: none;
}

.content{
    flex: 1;
    overflow: auto;
}

#yazı {
    margin-top: 150px;
}

.başlık {
    text-align: center;
    color: #ccc;
}

.açıklama {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(161, 158, 158);
}

.açıklamadeğer {
    text-decoration: none;
    color: #d3a50e;
    transition: 0.5s;
    transition-property: color;
    transition: 0.5s;
    transition-property: color;
}

.açıklamadeğer:hover {
    color: #990000;
}

.BerkayDuzgun {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    text-align: center;
    box-shadow: 0px 0px 15px black;  
}

#BerkayDuzgundiv {
    text-align: center;
}

#hakkımdadiv {
    text-align: center;
    margin-top: 120px;
    padding-top: 40px;
}